.home {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  background-image: url("../../assets/images/owl-background.jpg");
  background-size: cover;
  height: 80vh;
  &__title {
    color: #494949;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-label {
    color: rgb(212, 93, 113);
    padding: 1rem;
    display: block;
  }
}
